{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
	<title>HANYANG OSORI - OPEN SOURCE GROUP</title>
</head>
<body>
	<header>
	<a href="{%url 'index_page'%}"><strong>오</strong>픈<strong>소</strong>스동아<strong>리</strong></a>
	
<!-- login 부분 집어넣기 -->
	</header>
	<nav>
		<ul>
			<li><a href="{% url 'about'%}">About</a></li>
			<li><a href="{% url 'board'%}">Board</a></li>
			<li><a href="{% url 'album'%}">Album</a></li>
			<li><a href="{% url 'project'%}">Project</a></li>
			<li><a href="{% url 'contact'%}">Contact</a></li>
		</ul>
	</nav>

{% block content %}
{% endblock %}

	<footer>
		<p>서울특별시 성동구 왕십리로 222(사근동, 한양대학교 산학기술관 518호<br>
			(C) Hanyang OSORI 2017 All rights reserved.</p>
		</footer>
	</body>
	</html>