{% extends 'board/template_boardnav.html' %}
{% block articled %}
{% load in_list %}
{% with articles.1 as article %}
{% if user == article.author %}
<div class = postControl>
	<a href="{% url 'info_edit' pk=article.pk %}" class="editInfo"><span class = "glyphicon glyphicon-pencil">Edit Post</span></a>
	<a href="{% url 'info_remove' pk=article.pk %}" class="removeInfo"><span class = "glyphicon glyphicon-pencil">Remove Post</span></a>
</div>
{% endif %}
<table class = "articleT" border = '1'>    
    <tr>
        <th> 제목 </th>
        <th colspan = "5"> {{ article.title }}</th>
    </tr>

    <tr>
        <th> 작성자 </th>
        <td> {{ article.author }}</td>
        <th> 작성일 </th>
        <td> {{ article.created_date }}</td>
        <th> 조회수 </th>
        <td> {{ article.view_count }}</td>
    </tr>
    <tr>
        <td colspan = "6" class = "articleText"> <div> {{ article.text|safe}}</div></td>
    </tr>

{% endwith %}
    {% with articles|first as article %}
    {% if article != 0 %}
    <tr>
        <th> 다음 글 </th>
        <td colspan = "5"> <a href="{% url 'info_detail' pk=article.pk %}">{{ article.title }}</a></td>
    </tr>
    {% endif %}
    {% endwith %}
    {% with articles.2 as article %}
    {% if article != 0 %}
    <tr>
        <th> 이전 글 </th>
        <td colspan = "5"> <a href="{% url 'info_detail' pk=article.pk %}">{{ article.title }}</a></td>
    </tr>
    {% endif %}
    {% endwith %}
</table>

<div class="comment">
    {% if user.is_authenticated %}

    <form method="POST" class="post-form">{% csrf_token %}
        <input value = "{{ request.user }}" name = "author" hidden>    
        <input type = "text" name = "text" class = "commentInput" placeholder="댓글을 입력해 주세요">
        <button type="submit" class="save btn btn-default">Submit</button>
    </form>

    {% endif %}

    {% with articles.1 as article %}
    {% for comment in article.comments.all %}
    <div class = "comments">
	    <div class = "author"><strong>{{ comment.author }}</strong></div> 
	    <div class="date">{{ comment.created_date }}</div>

	    <div class = "control">
		    {% if user.username == comment.author %}
		    <a class="btn btn-default" href="{% url 'info_comment_remove' pk=comment.pk %}">remove</a>
		    {% endif %}
	    </div>
	    <div class = commentContent>
		    <div class = commentText>{{ comment.text|safe }}</div>
		    <div class = commentLikes>
			    {% if user|in_list:comment.likes.all %}
			    	<a class="btn btn-default link" href="{% url 'info_like' pk=comment.pk %}">Unlike</a>
			    {% else %}
			    	<a class="btn btn-default link" href="{% url 'info_like' pk=comment.pk %}">Like</a>
			    {% endif %}
			    <div class = "count">{{ comment.likes.all.count }}</div>
		    </div>
		</div>
	</div>
	{% empty %}
		<p>No comments here yet :) </p>
    {% endfor %} 
</div>

{% endwith %}   
{% endblock articled %}