{% extends 'board/template_board_nav.html' %}
{% block articled %}
<h1> {{ title }} </h1>

<style>
.caption {
    background-color: #FFF0F0
}

</style>
{% if user.is_authenticated and user.username == article.author.username %}
<div>
    <a href="{% url 'update_article' board_name=board_name pk=article.pk %}">edit</a>ㄴ
    <a href="{% url 'delete_article' board_name=board_name pk=article.pk %}">remove</a>
</div>
{% endif %}
<table class="ui celled table" id="article">
    <tr>
        <td class="caption">글제목</td>
        <td colspan="5">{{ article.title }}</td>
    </tr>
    <tr>
        <td class="caption">작성자</td>
        <td>{{ article.author.username }}</td>
        <td class="caption">작성일</td>
        <td>{{ article.created_date }}</td>
        <td class="caption">조회수</td>
        <td>{{ article.view_count }}</td>
    </tr>
    <tr>
        <td colspan="6">
            <p>{{ article.text | linebreaksbr }}</p>
        </td>
    </tr>
</table>
{% endblock articled %}
