{% extends 'board/template_board_nav.html' %}

{% block articled %}

<div class="ui center aligned container">
    <div class="ui grid">
        <div class="row ">
            {% if article.author == user %}
                <div class="two wide column"></div>
                <div class="twelve wide column right aligned" style="top: 20px;">
                    <a href="{% url 'update_article' board_name=board_name pk=article.pk %}">수정</a>&nbsp;&nbsp;
                    <a href="{% url 'delete_article' board_name=board_name pk=article.pk %}">삭제</a>
                </div>
                <div class="two wide column"></div>
            {% endif %}
        </div>
        <div class="row">
            <div class="two wide column"></div>
            <div class="twelve wide column">
                <table class="ui structured celled table" id="article">
                    <thead>
                    <tr>
                        <th class="caption">글제목</th>
                        <td colspan="5">{{ article.title }}</td>
                    </tr>
                    <tr>
                        <th class="caption">작성자</th>
                        <td>{{ article.author.username }}</td>
                        <th class="caption">작성일</th>
                        <td>{{ article.created_date }}</td>
                        <th class="caption">조회수</th>
                        <td>{{ article.view_count }}</td>
                    </tr>
                    <tr>
                        <td colspan="6">
                            <div style="min-height: 300px;">{{ article.text|safe|linebreaksbr }}</div>
                        </td>
                    </tr>
                    {% if before %}
                    <tr>
                        <th> 다음 글 </th>
                        <td colspan = "5"> <a href="{% url 'read_article' board_name=board_name pk=before.pk %}">{{ before.title }}</a></td>
                    </tr>
                    {% endif %}

                    {% if after %}
                    <tr>
                        <th> 이전 글 </th>
                        <td colspan = "5"> <a href="{% url 'read_article' board_name=board_name pk=after.pk %}">{{ after.title }}</a></td>
                    </tr>
                    {% endif %}
                    </thead>
                </table>
            </div>
            <div class="two wide column"></div>
        </div>
    </div>
</div>
{% endblock articled %}
