{% extends 'website/template_aboutnav.html' %}
{% block articled %}
<h1 class="ui left aligned secondary basic segment"> 완료된 프로젝트 </h1>


{% for project in projects %}
<div class="ui tall stacked segment">
      <a class="ui blue ribbon label"> {{project.start_period}} ~ {{project.end_period}}</a>
      <span><strong>{{ project.title }}</strong></span>
      <p><br>{{project.subtitle}}<br><br>
			contributor : {{ project.contributor|linebreaksbr }}</p>
  </div>
{% endfor %}
{% endblock articled %}
