.image {
   position: relative;
   width: 100%; /* for IE 6 */
}

h1 {
  color: white;
   position: absolute;
   top: 30%;
   text-align: center;
   width: 100%;
}


.pusher {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.pusher > .footer {
  flex: 1;

}


#album_paginator{
  align: center;
  padding: 30px;
}

#section_header{
  margin:30px;
}

#main_page{
font-family: 'Inconsolata', monospace;
  font-size: 40px;
font-style: normal;
font-variant: normal;
font-weight: lighter;
line-height: 40.4px;
}

#main_image{
  margin-bottom: -40px;

}
/*      .big_container{
        width: 100%;
        margin: 0px auto;
        padding: 20px;

      }

      .user_info{
        float:right;
        padding-right: 10px;
      }

      .user_info > ul{
        list-style-type: none;
      }

      .user_info > ul > li {
        display: inline;
        padding-right: 20px;
      }

      .top_nav {
        clear:both;
        text-align: center;
        padding: 20px;
      }
      .top_nav > ul {
        list-style-type: none;

      }
      .top_nav > ul > li {
        padding-right: 20px;
        display: inline;
      }

      .container {
        width: 80%;
        padding: 20px;
        margin-bottom: 20px;
        float: right;
      }
      .left_nav {
        width: 20%;
        padding: 20px;
        margin-bottom: 20px;
        float: left;
      }

      .left_nav > ul {
        list-style-type: none;
      }

      .left_nav > ul > li{
        padding-bottom: 10px;
      }

      .footer {
        clear: both;
        padding: 20px;
      }*/
/* contact form */

/*
      .contact_sub {
        text-align : center;
        margin-bottom: 20px;
      }

      table.contact_form {
        border-collapse: separate;
        border-spacing: 1px;
        text-align: left;
        line-height: 1.5;
        border-top: 1px solid #ccc;
        padding-bottom: 10px;
        margin: 0px auto;
      }
      table.contact_form th {
        width: 20%;
        padding: 10px;
        font-weight: bold;
        border-bottom: 1px solid #ccc;
        background: #efefef;
        vertical-align : middle;
      }
      table.contact_form td {
        width: 50%;
        padding: 10px;
        vertical-align: middle;
        border-bottom: 1px solid #ccc;
      }
*/
/* location tab */
       #map {
        margin: 0px 30px 30px 30px;
        height: 400px;
        width: 80%;
       }
/*

      .proj {
        padding: 20px;

      }
      .proj_titles{
        display: inline;
      }
      #proj_title{
        color: black;
        font-weight: bold;
        font-size: 25px;

      }
      #proj_period{
        float:right;
        color: #888;
      }
      #proj_subtitle{
        color: #888;
        font-size :20px;
      }
      .proj_contributor{
        color: #000;
        font-size :18px;
      }*/
