{% extends 'website/template_membernav.html' %}
{% block articled %}

<h1 class="ui left aligned secondary basic segment"> 비밀번호 변경 </h1>

<div class="ui grid">
<div class="one wide column"></div>
<div class="twelve wide column">
<form method="POST" class="post-form">{% csrf_token %}
	<table class="ui center aligned celled striped table">
	{{ form.as_table }}
	</table>
	<div align="center">
	<button type="submit" class="ui black button" id = "submit_button">Save</button></div>
</form>
</div>
<div class="three wide column"></div>
<div class="row"></div>
<div class="row"></div>
<div class="row"></div>
<div class="row"></div>
<div class="row"></div>
<div class="row"></div>

</div>

{% endblock articled %}
